<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přidat Uživatel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Hlavní stránka</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Přidat Uživatel</h1>
        
        <form method="POST" action="{{ url_for('add_user') }}">
            <label for="tag_id">UID Tag:</label>
            <input type="text" id="tag_id" name="tag_id" required>
            <label for="user_name">Jméno:</label>
            <input type="text" id="user_name" name="user_name" required>
            <button type="submit">Přidat</button>
        </form>

        <nav>
            <a href="{{ url_for('index') }}">Zpět na hlavní stránku</a>
        </nav>
    </main>
</body>
</html>
